<h2 mat-dialog-title>
  <i class="las la-file-invoice colorGris espDer5"></i
  >{{ "tittle.confirm_plan" | translate }}
</h2>
<div mat-dialog-content>
  <div class="container-fluid padding20">
    <form #confirmForm="ngForm" (ngSubmit)="(confirmForm.form.valid)">
      <div class="row paddingTop15">
        <div class="col-md-12">
          <mat-accordion multi>
            <mat-expansion-panel expanded>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{ "label.summary" | translate }}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="row">
                <div class="col-md-5">
                  <h2 class="centrado colorGris">
                    {{ "title.current_plan" | translate }}
                  </h2>
                  <mat-expansion-panel
                    class="gn-box padding5 borderRadius10 tracking-in-expand example-full-width"
                  >
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        <h3 class="colorPrincipal centrado margin10">
                          {{ info?.actualPlan?.name }}
                        </h3>
                      </mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="row centrado">
                      <h2 class="colorSecundario right">
                        {{
                          info?.actualPlan?.cost
                            | currency : utilService.curr : "symbol-narrow"
                        }}
                      </h2>
                    </div>
                    <hr />
                    <div class="col-md-12">
                      <!--  <h5> <i class="las la-globe-americas colorSecundario espDer5"></i>{{'label.plan.countries' |
                        translate}}:
                          {{info?.actualPlan?.max_countries}}<br>
                          <i class="las la-search-plus colorSecundario espDer5"></i>{{'label.plan.keywords' | translate}}:
                          {{info?.actualPlan?.max_keywords}}<br>
                          <i class="las la-file colorSecundario espDer5"></i>{{'label.plan.pages' | translate}}: {{info?.actualPlan?.max_search_page}}<br>
                          <i class="fab fa-google colorSecundario espDer5"></i>{{'label.sections' | translate}}:
                          {{info?.actualPlan?.sections_to_search}}</h5>-->
                      <div class="generic_feature_list">
                        <h5>
                          <i class="las la-calendar-alt colorAzul espDer5"></i
                          ><span>{{ info?.actualPlan?.duration_months }}</span>
                          {{ "label.months" | translate }}
                        </h5>
                        <h5 *ngIf="info?.actualPlan?.access_scanner">
                          <i class="las la-check-circle colorVerde"></i>
                          {{ "label.licence.one_shot" | translate }}:
                          <span *ngIf="info?.actualPlan?.limit_credits > 0">{{
                            info?.actualPlan?.limit_credits
                          }}</span
                          ><span *ngIf="info?.actualPlan?.limit_credits <= 0"
                            >0</span
                          >
                        </h5>
                        <h5 *ngIf="info?.actualPlan?.access_monitor">
                          <i class="las la-check-circle colorVerde"></i>
                          {{ "label.licence.monitor" | translate }}:
                          <span
                            *ngIf="info?.actualPlan?.total_monitor_licenses > 0"
                            >{{
                              info?.actualPlan?.total_monitor_licenses
                            }}</span
                          ><span
                            *ngIf="
                              info?.actualPlan?.total_monitor_licenses <= 0
                            "
                            >0</span
                          >
                        </h5>
                        <h5 *ngIf="info?.actualPlan?.access_transforma">
                          <i class="las la-check-circle colorVerde"></i>
                          {{ "label.licence.transform" | translate }}:
                          <span
                            *ngIf="
                              info?.actualPlan?.total_transforma_licenses > 0
                            "
                            >{{
                              info?.actualPlan?.total_transforma_licenses
                            }}</span
                          ><span
                            *ngIf="
                              info?.actualPlan?.total_transforma_licenses <= 0
                            "
                            >0</span
                          >
                        </h5>
                        <h5 *ngIf="info?.actualPlan?.access_deindexation">
                          <i class="las la-check-circle colorVerde"></i>
                          {{ "label.licence.deindexing" | translate }}:
                          <span
                            *ngIf="info?.actualPlan?.max_url_to_deindexate > 0"
                            >{{ info?.actualPlan?.max_url_to_deindexate }}</span
                          ><span
                            *ngIf="info?.actualPlan?.max_url_to_deindexate <= 0"
                            >0</span
                          >
                        </h5>

                        <h5>
                          <i
                            class="las la-globe-americas colorSecundario espDer5"
                          ></i
                          >{{ "label.plan.countries" | translate }}
                          :
                          <span *ngIf="info?.actualPlan?.max_countries > 0">{{
                            info?.actualPlan?.max_countries
                          }}</span
                          ><span *ngIf="info?.actualPlan?.max_countries <= 0"
                            >0</span
                          >
                        </h5>
                        <h5>
                          <i
                            class="las la-search-plus colorSecundario espDer5"
                          ></i
                          >{{ "label.plan.keywords" | translate }}:
                          <span *ngIf="info?.actualPlan?.max_keywords > 0">{{
                            info?.actualPlan?.max_keywords
                          }}</span
                          ><span *ngIf="info?.actualPlan?.max_keywords <= 0"
                            >0</span
                          >
                        </h5>
                        <h5>
                          <i class="las la-file colorSecundario espDer5"></i
                          >{{ "label.plan.pages" | translate }}
                          :
                          <span *ngIf="info?.actualPlan?.max_search_page > 0">{{
                            info?.actualPlan?.max_search_page
                          }}</span
                          ><span *ngIf="info?.actualPlan?.max_search_page <= 0"
                            >0</span
                          >
                        </h5>
                        <h5>
                          <i class="fab fa-google colorSecundario espDer5"></i
                          >{{ "label.sections" | translate }} :
                          {{ info?.actualPlan?.sections_to_search }}
                        </h5>
                      </div>
                    </div>
                  </mat-expansion-panel>
                </div>

                <div class="col-md-1">
                  <i class="las la-arrow-right colorSecundario fa-3x"></i>
                </div>

                <div class="col-md-5">
                  <h2 class="centrado colorSecundario">
                    {{ "title.new_plan" | translate }}
                  </h2>
                  <mat-expansion-panel
                    class="gn-box padding5 borderRadius10 tracking-in-expand example-full-width"
                  >
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        <h3 class="colorPrincipal centrado margin10">
                          {{ info?.newPlan?.name }}
                        </h3>
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="row centrado">
                      <h2 class="colorSecundario right">
                        {{
                          info?.newPlan?.cost
                            | currency : utilService.curr : "symbol-narrow"
                        }}
                      </h2>
                    </div>
                    <hr />

                    <div class="col-md-12">
                      <div class="generic_feature_list">
                        <h5>
                          <i class="las la-calendar-alt colorAzul espDer5"></i
                          ><span>{{ info?.newPlan?.duration_months }}</span>
                          {{ "label.months" | translate }}
                        </h5>
                        <h5 *ngIf="info?.newPlan?.access_scanner">
                          <i class="las la-check-circle colorVerde"></i>
                          {{ "label.licence.one_shot" | translate }}:
                          <span *ngIf="info?.newPlan?.limit_credits > 0">{{
                            info?.newPlan?.limit_credits
                          }}</span
                          ><span *ngIf="info?.newPlan?.limit_credits <= 0"
                            >0</span
                          >
                        </h5>
                        <h5 *ngIf="info?.newPlan?.access_monitor">
                          <i class="las la-check-circle colorVerde"></i>
                          {{ "label.licence.monitor" | translate }}:
                          <span
                            *ngIf="info?.newPlan?.total_monitor_licenses > 0"
                            >{{ info?.newPlan?.total_monitor_licenses }}</span
                          ><span
                            *ngIf="info?.newPlan?.total_monitor_licenses <= 0"
                            >0</span
                          >
                        </h5>
                        <h5 *ngIf="info?.newPlan?.access_transforma">
                          <i class="las la-check-circle colorVerde"></i>
                          {{ "label.licence.transform" | translate }}:
                          <span
                            *ngIf="info?.newPlan?.total_transforma_licenses > 0"
                            >{{
                              info?.newPlan?.total_transforma_licenses
                            }}</span
                          ><span
                            *ngIf="
                              info?.newPlan?.total_transforma_licenses <= 0
                            "
                            >0</span
                          >
                        </h5>
                        <h5 *ngIf="info?.newPlan?.access_deindexation">
                          <i class="las la-check-circle colorVerde"></i>
                          {{ "label.licence.deindexing" | translate }}:
                          <span
                            *ngIf="info?.newPlan?.max_url_to_deindexate > 0"
                            >{{ info?.newPlan?.max_url_to_deindexate }}</span
                          ><span
                            *ngIf="info?.newPlan?.max_url_to_deindexate <= 0"
                            >0</span
                          >
                        </h5>
                        <h5>
                          <i
                            class="las la-globe-americas colorSecundario espDer5"
                          ></i
                          >{{ "label.plan.countries" | translate }}
                          :
                          <span *ngIf="info?.newPlan?.max_countries > 0">{{
                            info?.newPlan?.max_countries
                          }}</span
                          ><span *ngIf="info?.newPlan?.max_countries <= 0"
                            >0</span
                          >
                        </h5>
                        <h5>
                          <i
                            class="las la-search-plus colorSecundario espDer5"
                          ></i
                          >{{ "label.plan.keywords" | translate }}:
                          <span *ngIf="info?.newPlan?.max_keywords > 0">{{
                            info?.newPlan?.max_keywords
                          }}</span
                          ><span *ngIf="info?.newPlan?.max_keywords <= 0"
                            >0</span
                          >
                        </h5>
                        <h5>
                          <i class="las la-file colorSecundario espDer5"></i
                          >{{ "label.plan.pages" | translate }}
                          :
                          <span *ngIf="info?.newPlan?.max_search_page > 0">{{
                            info?.newPlan?.max_search_page
                          }}</span
                          ><span *ngIf="info?.newPlan?.max_search_page <= 0"
                            >0</span
                          >
                        </h5>
                        <h5>
                          <i class="fab fa-google colorSecundario espDer5"></i
                          >{{ "label.sections" | translate }} :
                          {{ info?.newPlan?.sections_to_search }}
                        </h5>
                      </div>
                    </div>
                  </mat-expansion-panel>
                </div>
              </div>
            </mat-expansion-panel>

            <mat-expansion-panel
              [expanded]="displayWarningTransform || displayWarningMonitor"
            >
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <i
                    class="las la-exclamation-triangle colorSecundario heartbeat la-2x espDer10"
                    *ngIf="displayWarningTransform || displayWarningMonitor"
                  ></i>
                  {{ "label.message_services_active" | translate }}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="row paddingTop15">
                <app-active-licences
                  [infoPlan]="info"
                  (selectedMonitor)="checkListMonitor($event)"
                  (selectedTransform)="checkListTransform($event)"
                  (warningTransform)="checkWarningtransfrom($event)"
                  (warningMonitor)="checkWarningMonitor($event)"
                ></app-active-licences>
              </div>
            </mat-expansion-panel>
            <mat-expansion-panel
              *ngIf="info?.paymentsMethodsAvailables?.length > 0"
            >
              <mat-expansion-panel-header>
                <mat-panel-title
                  *ngIf="info?.paymentsMethodsAvailables?.length > 1"
                >
                  {{ "label.payments" | translate }}
                </mat-panel-title>
                <mat-panel-title
                  *ngIf="info?.paymentsMethodsAvailables?.length === 1"
                >
                  {{ "label.payment_methods" | translate }}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="row paddingTop15">
                <div class="col-md-12">
                  <mat-radio-group
                    aria-labelledby="example-radio-group-label"
                    class="example-radio-group"
                    [(ngModel)]="info.paymentMethod"
                    required
                    [ngModelOptions]="{ standalone: true }"
                  >
                    <mat-radio-button
                      class="example-radio-button"
                      *ngFor="let payment of info.paymentsMethodsAvailables"
                      [value]="payment"
                    >
                      <span
                        class="espDer15 paddingTop15"
                        [innerHTML]="payment.platform | paymentsMethods"
                      ></span>
                      :
                      <span
                        class="espDer15"
                        [innerHTML]="payment.brand.toUpperCase() | cardBrands"
                      ></span>
                      <strong class="espDer15">
                        ****{{ payment.last4 }}
                      </strong>
                      {{ payment.exp_month }}/{{ payment.exp_year }}
                    </mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
    </form>
    <div class="row paddingTop15">
      <div class="col-md-12">
        <mat-slide-toggle
          [(ngModel)]="info.programmedToNextPayment"
          class="noCkeck"
        >
          {{ "label.change.plan.next.payment" | translate }}
        </mat-slide-toggle>
      </div>
      <div class="col-md-12">
        <mat-slide-toggle
          [(ngModel)]="confirmtoggle"
          required
          class="noCkeck"
          >{{ "message.confirm_check_plan" | translate }}</mat-slide-toggle
        >
      </div>
    </div>
    <div class="row paddingTop15">
      <div class="col-md-12">
        <p>{{ "message.confirm_plan_info" | translate }}</p>
      </div>
    </div>
  </div>
  <mat-dialog-actions class="centrado">
    <a mat-dialog-close tabindex="-1" class="third after colorGris">
      {{ "button.cancel" | translate }}</a
    >
    <button
      (click)="onConfirmClick(confirmForm)"
      class="glow-on-hover espIz15"
      type="submit"
      *ngIf="confirmtoggle"
      tabindex="1"
    >
      {{ "button.confirm" | translate }}
    </button>
  </mat-dialog-actions>
</div>
