<div
  class="row paddingTop15"
  *ngIf="clientService.permissions.list"
  id="toExport"
>
  <div class="row content-card">
    <!--tittle-->
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-10">
          <div class="row">
            <div class="col-md-3 col-sm-6">
              <h2>
                <i class="las la-id-card colorPrincipal espDer5"></i>
                {{ "title.clients" | translate }}
              </h2>
            </div>
          </div>
        </div>
        <div
          class="col-md-2 top20m"
          *ngIf="allClients && allClients.length !== 0"
        >
          <div class="row">
            <div class="col-md-4 col-sm-6"></div>
            <div class="col-md-4 col-sm-6">
              <a
                (click)="utilService.downloadExcel('title.clients')"
                class="third after reduceFont"
              >
                <i class="las la-file-excel colorPrincipal espDer5"></i
                >{{ "label.excel" | translate }}</a
              >
            </div>
            <div class="col-md-4 col-sm-6">
              <a
                (click)="utilService.donwloadPDF('title.clients')"
                class="third after reduceFont"
              >
                <i class="las la-file-pdf colorPrincipal espDer5"></i
                >{{ "label.pdf" | translate }}</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--filters-->
    <div class="col-md-12" *ngIf="allClients && allClients.length !== 0">
      <div class="row border-filter">
        <div class="col-md-2 col-sm-12">
          <mat-form-field class="example-full-width">
            <input
              [(ngModel)]="filter.name"
              (ngModelChange)="searchResult()"
              name="name"
              matInput
              placeholder="{{ 'label.name' | translate }}"
            />
          </mat-form-field>
        </div>
        <div class="col-md-2">
          <mat-form-field class="example-full-width">
            <mat-select
              placeholder="{{ 'label.plan' | translate }}"
              [(ngModel)]="filter.plan"
              (ngModelChange)="searchResult()"
            >
              <mat-option *ngFor="let item of allPlans" [value]="item.name">
                {{ item.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-2">
          <mat-form-field class="example-full-width">
            <mat-select
              placeholder="{{ 'label.payment_methods_checkout' | translate }}"
              [(ngModel)]="filter.payment"
              (ngModelChange)="searchResult()"
            >
              <mat-option
                *ngFor="let item of paymentsMethods"
                [value]="item.name"
              >
                <span
                  class="espDer5 paddingTop15"
                  [innerHTML]="item?.name | paymentsMethods"
                ></span>
                - {{ "label.payment_" + item?.name | translate }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-2">
          <mat-form-field class="example-full-width">
            <mat-label>{{ "label.date_range" | translate }}</mat-label>
            <mat-date-range-input [rangePicker]="picker">
              <input
                matStartDate
                [(ngModel)]="filter.suscribe_date_init"
                name="start"
                placeholder="Start date"
                (ngModelChange)="searchResult()"
              />
              <input
                matEndDate
                [(ngModel)]="filter.suscribe_date_end"
                name="end"
                placeholder="End date"
                (ngModelChange)="searchResult()"
              />
            </mat-date-range-input>
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          </mat-form-field>
        </div>
        <div class="col-md-2 col-sm-12 centrado col-sm-12">
          <mat-slide-toggle
            [(ngModel)]="filter.active"
            class="noCkeck"
            (ngModelChange)="searchResult()"
          >
            {{ "label.actives" | translate }}
          </mat-slide-toggle>
        </div>
        <!--<div class="col-md-1 centrado col-sm-12">
          button
            (click)="searchResult()"
            class="secondLevelButton reduceFont"
          >
            <i class="las la-search espDer5"></i
            >{{ "button.search" | translate }}
            </button>
        </div>-->
        <div class="col-md-2 centrado col-sm-12 paddingTop15 float-left">
          <a (click)="clean()" class="third after reduceFont">
            <i class="las la-broom colorPrincipal espDer5"></i
            >{{ "button.clear_filters" | translate }}</a
          >
        </div>
      </div>
    </div>
    <!--principal table-->
    <div
      class="col-md-12"
      *ngIf="filteredClients && filteredClients.length !== 0"
    >
      <div class="row slide-in-blurred-bottom horizontal-scroll">
        <table class="table table-hover table-borderless">
          <thead class="thead-light">
            <tr>
              <th (click)="sortFunction('name')">
                <i class="las la-sort colorPrincipal espDer5"></i
                >{{ "label.name" | translate }}
              </th>

              <th>{{ "label.plan" | translate }}</th>
              <th>{{ "label.init_date" | translate }}</th>
              <th>{{ "label.expired_date" | translate }}</th>
              <th class="centrado">
                {{ "label.payment_methods_checkout" | translate }}
              </th>
              <th>{{ "label.payment.confirmed" | translate }}</th>

              <th>{{ "label.active" | translate }}</th>
              <th class="textali-center">{{ "label.actions" | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of copyArray">
              <td>
                {{ data?.name }} {{ data?.lastname }}
                <ng-template #popMail>
                  {{ data?.email }}
                </ng-template>
                <a
                  popoverTitle="{{ 'label.email' | translate }}"
                  container="body"
                  [autoClose]="true"
                  [ngbPopover]="popMail"
                  ><i class="las la-info-circle colorAzul"></i
                ></a>
              </td>

              <td>
                <span *ngFor="let plan of data?.planActives"
                  >{{ plan?.detail?.name }}
                  <ng-template #popPlan>
                    {{ "label.plan.countries" | translate }}:
                    {{ plan?.detail?.max_countries }}<br />
                    {{ "label.plan.keywords" | translate }}:
                    {{ plan?.detail?.max_keywords }}​<br />
                    {{ "label.plan.pages" | translate }}:
                    {{ plan?.detail?.max_search_page }}<br />
                    {{ "label.plan.sections" | translate }}:
                    {{ plan?.detail?.sections_to_search }}
                  </ng-template>
                  <a
                    popoverTitle="{{
                      data?.planActives.plan?.planActives.detail?.description
                    }}"
                    container="body"
                    [autoClose]="true"
                    [ngbPopover]="popPlan"
                    ><i class="las la-info-circle colorAzul"></i
                  ></a>
                </span>
              </td>
              <td>
                <span *ngFor="let plan of data?.planActives">{{
                  utilService.formatDate(plan?.suscribe_date)
                    | date : "shortDate"
                }}</span>
              </td>
              <td>
                <span *ngFor="let plan of data?.planActives">{{
                  utilService.formatDate(plan?.expiration_date)
                    | date : "shortDate"
                }}</span>
              </td>
              <td class="centrado">
                <span *ngFor="let plan of data?.planActives"
                  ><span
                    [innerHTML]="
                      plan?.external_subscription_platform | paymentsMethods
                    "
                  ></span
                ></span>
              </td>
              <td>
                <mat-slide-toggle
                  [(ngModel)]="data?.lastSuscription?.paybill.confirmed"
                  class="noCkeck"
                  *ngIf="data?.lastSuscription?.paybill"
                  (change)="confirmPaybill(data.lastSuscription.paybill)"
                  disabled="{{ data?.lastSuscription?.paybill?.confirmed }}"
                ></mat-slide-toggle>
              </td>
              <td>
                <mat-slide-toggle
                  [(ngModel)]="data.active"
                  class="noCkeck"
                  (change)="toggleActive(data)"
                  disabled="{{ !clientService.permissions.delete }}"
                ></mat-slide-toggle>
              </td>
              <td>
                <a
                  (click)="infoClient(data.id)"
                  class="espDer15"
                  *ngIf="clientService.permissions.read"
                >
                  <i
                    class="las la-user-edit colorPrincipal la-2x"
                    title="{{ 'tooltip.edit_client' | translate }}"
                  ></i>
                </a>
                <a
                  (click)="checkScanner(data.uuid, 'one_shot', data.id)"
                  class="espDer15"
                  *ngIf="
                    data?.planActives[0]?.detail?.access_scanner &&
                    scannerService.permissions.list &&
                    !isFormula
                  "
                >
                  <i
                    class="las la-camera colorPrincipal la-2x"
                    title="{{ 'title.scanner_one' | translate }}"
                  ></i>
                </a>
                <a
                  (click)="checkScanner(data.uuid, 'monitor', data.id)"
                  class="espDer15"
                  *ngIf="
                    data?.planActives[0]?.detail?.access_monitor &&
                    scannerService.permissions.list &&
                    !isFormula
                  "
                >
                  <i
                    class="las la-layer-group colorPrincipal la-2x"
                    title="{{ 'title.monitor' | translate }}"
                  ></i>
                </a>
                <a
                  (click)="checkScanner(data.uuid, 'transform', data.id)"
                  class="espDer15"
                  *ngIf="
                    data?.planActives[0]?.detail?.access_transforma &&
                    scannerService.permissions.list
                  "
                >
                  <i
                    class="las la-sync colorPrincipal la-2x"
                    title="{{ 'title.transform' | translate }}"
                  ></i>
                </a>
                <a
                  (click)="goDeindex(data.uuid)"
                  class="espDer15"
                  *ngIf="
                    data?.planActives[0]?.detail?.access_deindexation &&
                    deindexationService.permissions.list
                  "
                >
                  <i
                    class="las la-low-vision colorPrincipal la-2x"
                    title="{{ 'menu.deindexing' | translate }}"
                  ></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="col-md-12 centrado paddingBottom50 paddingTop25">
          <jw-pagination
            [items]="filteredClients"
            (changePage)="onChangePage($event)"
            [maxPages]="5"
            [pageSize]="15"
            class="{{ paginatorClass }}"
          >
          </jw-pagination>
        </div>
      </div>
    </div>
    <div
      class="col-md-12 centrado paddingBottom50 paddingTop25"
      *ngIf="
        (allClients && allClients.length === 0) || filteredClients.length === 0
      "
    >
      <h5 class="colorGris">{{ "error.not_found_results" | translate }}</h5>
    </div>
  </div>
</div>
