<div class="container-fluid px-0">
  <app-header></app-header>

  <!--datos de contacto-->
  <div class="row paddingTop80 backgroundLightGray">
    <div class="col-md-12 ">
      <div class="row ">
        <div class="col-md-1"></div>
        <div class="col-md-5 padding20">

          <strong><p class="fontLanding colorPrincipal">{{ "label.contact" | translate }}</p></strong>

          <h3>{{ "label.contact_description" | translate }}</h3>
        </div>
        <div class="col-md-5">
          <div class="row  centrado">
            <div class="col-md-4 ">
              <i class="las la-map-marked-alt la-5x colorSecundario"></i>

              <h2 class="colorPrincipal boldFont">
                {{ "label.user.addres" | translate }}
              </h2>

              <p>Calle Pensamiento, 27, Madrid.</p>
            </div>
            <div class="col-md-4 ">
              <i class="las la-phone-volume la-5x colorSecundario"></i>
              <h2 class="colorPrincipal boldFont">
                {{ "label.call_us" | translate }}
              </h2>
              <a class="nav-link third after" href="tel:+34910442346">
                +34 910 442 346
              </a>

            </div>
            <div class="col-md-4 ">
              <i class="las la-envelope-open-text la-5x colorSecundario"></i>
              <h2 class="colorPrincipal boldFont ">
                {{ "label.email" | translate }}
              </h2>

              <a class="nav-link third after" href="mailto:contacto@removegroup.com">
                contacto@removegroup.com
              </a>
            </div>
          </div>

        </div>
        <div class="col-md-1"></div>
      </div>
      <div class="paddingTop80"></div>
    </div>

  </div>

  <!-- te llamamos-->
  <div class="row mar  marginTop150">
    <div class="col-md-1"></div>
    <div class="col-md-4 paddingTop15">
      <a href="tel:+34910442346"
         class="
          glow-on-hover
          backgroundSecundary
          padding15
          fullWidth
          centrado
          boldFont
        "
      >
        {{ "label.call_us" | translate }}</a
      >
    </div>
    <div class="col-md-6 ">
      <div class="row ">
        <div class="col-md-12">
          <h4 class="colorSecundario centrado"><strong>{{'label.contact_call_us' | translate}}</strong></h4>
        </div>
      </div>
      <div class="row ">
        <div class="col-md-12">
          <h1 class="colorPrincipal centrado">{{ "label.contact_call_us_description" | translate }}</h1>

        </div>
      </div>


    </div>

    <div class="col-md-1"></div>
  </div>
  <div class="marginTop150"></div>
  <!--mapas y formulario-->
  <div class="row backgroundLightGray paddingTop40">
    <div class="col-md-12 ">
      <div class="row padding30">
        <div class="col-md-1"></div>
        <div class="col-md-5 padding15 centrado">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d24285.81127184559!2d-3.6954029999999998!3d40.459192!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa1b97529364ee6e2!2sRemove%20Group!5e0!3m2!1ses!2ses!4v1638474352370!5m2!1ses!2ses"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
        <div class="col-md-5 padding15">
          <form #contactForm="ngForm" (ngSubmit)="(contactForm.form.valid)">
            <div class="row padding10">
              <div class="col-md-12">
                <mat-form-field class="example-full-width">
                  <input
                    [(ngModel)]="contact.name"
                    name="name"
                    #nameFirst="ngModel"
                    matInput
                    required
                    placeholder="{{ 'label.name' | translate }} "
                    type="text"
                  />
                </mat-form-field>
                <div *ngIf="nameFirst.errors?.required && contactForm.submitted">
                  <h5 class="colorRojo">
                    <i class="las la-exclamation-circle espDer5"></i
                    >{{ "error.required" | translate }}
                  </h5>
                </div>
              </div>
              <div class="col-md-12 paddingTop15">
                <mat-form-field class="example-full-width">
                  <input
                    [(ngModel)]="contact.email"
                    name="email"
                    matInput
                    #emailFirst="ngModel"
                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                    required
                    placeholder="{{ 'label.email' | translate }} "
                    type="email"
                  />
                </mat-form-field>
                <div *ngIf="emailFirst.errors?.pattern && contactForm.submitted">
                  <h5 class="colorRojo">
                    <i class="las la-exclamation-circle espDer5"></i
                    >{{ "error.invalid.email" | translate }}
                  </h5>
                </div>
                <div *ngIf="emailFirst.errors?.required && contactForm.submitted">
                  <h5 class="colorRojo">
                    <i class="las la-exclamation-circle espDer5"></i
                    >{{ "error.required" | translate }}
                  </h5>
                </div>
              </div>
              <div class="col-md-12 paddingTop15">
                <mat-form-field class="example-full-width">
                  <input
                    [(ngModel)]="contact.phone"
                    name="phone"
                    matInput
                    #phoneFirst="ngModel"
                    required
                    placeholder="{{ 'label.phone' | translate }} "
                    type="text"
                  />
                </mat-form-field>
                <div *ngIf="phoneFirst.errors?.required && contactForm.submitted">
                  <h5 class="colorRojo">
                    <i class="las la-exclamation-circle espDer5"></i
                    >{{ "error.required" | translate }}
                  </h5>
                </div>
              </div>
              <div class="col-md-12 paddingTop15">
                <mat-form-field class="example-full-width">
                  <textarea
                    matInput
                    placeholder="{{ 'label.message' | translate }}"
                    [(ngModel)]="contact.message"
                    name="message"
                  ></textarea>
                </mat-form-field>
              </div>
            </div>
            <div class="row padding10">
              <div class="col-md-12 paddingTop15">
                <mat-checkbox
                  class="example-margin espDer15 noCkeck"
                  [(ngModel)]="contact.confirm"
                  required #confirmFirst="ngModel"
                  name="confirm"
                >{{ "label.confirm_privacy" | translate }}:
                </mat-checkbox>
              </div>
              <div class="col-md-12 colorSecundario">
                <a class="third after" (click)="utilService.openPolitics()"
                ><strong>{{ "label.privacy_politics" | translate }}</strong></a
                >
              </div>
              <div *ngIf="confirmFirst.errors?.required && contactForm.submitted">
                <h5 class="colorRojo">
                  <i class="las la-exclamation-circle espDer5"></i
                  >{{ "message.error.privacy" | translate }}
                </h5>
              </div>
              <div class="col-md-12 ">
                <button
                  (click)="sendContact(contactForm, 'Formulario de Página de Contacto')"
                  type="submit"
                  class="
                    glow-on-hover
                    backgroundSecundary
                    padding15
                    fullWidth
                    centrado
                    boldFont
                  "
                >
                  {{ "button.send" | translate }}
                </button>
              </div>
            </div>
          </form>

        </div>
        <div class="col-md-1"></div>
      </div>

      <div class="row paddingBottom20"></div>
    </div>
  </div>

  <!--footer-->
  <app-footer></app-footer>
</div>
