<h2 mat-dialog-title *ngIf="isNuevo">
  <i class="las la-user colorGris espDer5"></i
  >{{ "title.new_user" | translate }}
</h2>
<h2 mat-dialog-title *ngIf="!isNuevo">
  <i class="las la-user colorGris espDer5"></i
  >{{ "title.edit_user" | translate }}
</h2>
<form #userForm="ngForm" (ngSubmit)="(userForm.form.valid)">
  <div mat-dialog-content>
    <div class="container-fluid padding20">
      <mat-accordion multi>
        <mat-expansion-panel expanded>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ "title.user_info" | translate }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="row">
            <div class="col-md-6">
              <mat-form-field class="example-full-width">
                <input
                  [(ngModel)]="user.name"
                  name="name"
                  matInput
                  placeholder="{{ 'label.name' | translate }} "
                  required
                  #userName="ngModel"
                  disabled="{{ !isEditable }}"
                  [ngModelOptions]="{ standalone: true }"
                />
              </mat-form-field>
              <div *ngIf="userName.errors?.required && userForm.submitted">
                <h5 class="colorRojo">
                  <i class="las la-exclamation-circle espDer5"></i
                  >{{ "error.required" | translate }}
                </h5>
              </div>
            </div>
            <div class="col-md-6">
              <mat-form-field class="example-full-width">
                <input
                  [(ngModel)]="user.lastname"
                  name="lastname"
                  matInput
                  placeholder="{{ 'label.lastname' | translate }} "
                  [ngModelOptions]="{ standalone: true }"
                  #lastname="ngModel"
                  required
                  disabled="{{ !isEditable }}"
                />
              </mat-form-field>
              <div *ngIf="lastname.errors?.required && userForm.submitted">
                <h5 class="colorRojo">
                  <i class="las la-exclamation-circle espDer5"></i
                  >{{ "error.required" | translate }}
                </h5>
              </div>
            </div>
            <div class="col-md-6">
              <mat-form-field class="example-full-width">
                <mat-label>{{ "label.profile" | translate }} </mat-label>
                <mat-select
                  [compareWith]="util.compareByCode"
                  [(ngModel)]="user.profileDef"
                  name="profileDef"
                  required
                  #profileDef="ngModel"
                  disabled="{{ !isEditable }}"
                  [ngModelOptions]="{ standalone: true }"
                >
                  <mat-option *ngFor="let pro of allProfiles" [value]="pro">
                    {{ "profile." + pro.tag | translate }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <div *ngIf="profileDef.errors?.required && userForm.submitted">
                <h5 class="colorRojo">
                  <i class="las la-exclamation-circle espDer5"></i
                  >{{ "error.required" | translate }}
                </h5>
              </div>
            </div>
            <div class="col-md-6">
              <mat-form-field class="example-full-width">
                <input
                  [(ngModel)]="user.phone"
                  name="phone"
                  matInput
                  [ngModelOptions]="{ standalone: true }"
                  placeholder="{{ 'label.phone' | translate }}"
                  disabled="{{ !isEditable }}"
                />
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field class="example-full-width">
                <input
                  [(ngModel)]="user.email"
                  name="email"
                  matInput
                  #email="ngModel"
                  [ngModelOptions]="{ standalone: true }"
                  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                  disabled="{{ !isEditable }}"
                  placeholder="{{ 'label.email' | translate }}"
                  type="email"
                  required
                />
              </mat-form-field>

              <div *ngIf="email.errors?.required && userForm.submitted">
                <h5 class="colorRojo">
                  <i class="las la-exclamation-circle espDer5"></i
                  >{{ "error.required" | translate }}
                </h5>
              </div>
              <div *ngIf="email.errors?.pattern && userForm.submitted">
                <h5 class="colorRojo">
                  <i class="las la-exclamation-circle espDer5"></i
                  >{{ "error.invalid.email" | translate }}
                </h5>
              </div>
            </div>
            <div class="col-md-6">
              <mat-form-field class="example-full-width">
                <input
                  [(ngModel)]="checkmail"
                  name="checkmail"
                  matInput
                  #checkmailI="ngModel"
                  pattern="{{ email.value }}"
                  disabled="{{ !isEditable }}"
                  [ngModelOptions]="{ standalone: true }"
                  placeholder="{{ 'label.email_confirm' | translate }}"
                  type="email"
                />
              </mat-form-field>
              <div *ngIf="checkmailI?.errors?.pattern">
                <h5 class="colorRojo">
                  <i class="las la-exclamation-circle espDer5"></i
                  >{{ "error.email_match" | translate }}
                </h5>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel
          *ngIf="
            profileDef?.value?.EDITOR ||
            profileDef?.value?.MANAGER ||
            profileDef?.value?.FORMULE
          "
          expanded
        >
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ "title.configuration" | translate }}:
            </mat-panel-title>
            <mat-panel-description>
              {{
                "profile." + user?.profileDef?.description.toLowerCase()
                  | translate
              }}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="row">
            <div class="col-md-9">
              <mat-form-field class="example-full-width">
                <mat-select
                  placeholder="{{ 'label.clients' | translate }}"
                  #select
                  disabled="{{ !isEditable }}"
                  [ngModel]="addClient"
                  name="addClient"
                  [ngModelOptions]="{ standalone: true }"
                >
                  <mat-select-filter
                    [placeholder]="placeholderBuscar"
                    [displayMember]="'name'"
                    [array]="allClients"
                    *ngIf="select.focused"
                    [noResultsMessage]="noResults"
                    (filteredReturn)="fltClient = $event"
                  ></mat-select-filter>
                  <mat-option *ngFor="let item of fltClient" [value]="item">
                    <i class="las la-user espDer5"></i>{{ item.name }}
                    {{ item.lastname }}
                    <i class="las la-envelope espDer5 espIz10"></i>
                    {{ item.email }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <a (click)="addItem(select.value)" *ngIf="isEditable"
                ><i class="las la-plus-circle fa-2x colorVerde"></i
              ></a>
            </div>
          </div>
          <div class="row horizontal-scroll" *ngIf="user.clients.length !== 0">
            <table class="table table-hover table-borderless">
              <thead class="thead-light">
                <tr>
                  <th>{{ "label.name" | translate }}</th>
                  <th>{{ "label.email" | translate }}</th>
                  <th class="centrado">{{ "label.actions" | translate }}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of user.clients">
                  <td>{{ data?.name }} {{ data?.lastname }}</td>
                  <td>{{ data?.email }}</td>
                  <td class="centrado">
                    <a (click)="removeItem(data)" *ngIf="isEditable">
                      <i
                        class="las la-times colorRojo la-2x"
                        title="{{ 'tooltip.remove' | translate }}"
                      ></i
                    ></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
  <mat-dialog-actions class="centrado">
    <a mat-dialog-close tabindex="-1" class="third after colorGris">
      {{ "button.cancel" | translate }}</a
    >
    <button
      class="glow-on-hover espIz15"
      type="submit"
      (click)="onConfirmClick(userForm)"
      tabindex="1"
      *ngIf="isNuevo && isEditable"
    >
      {{ "button.add" | translate }}
    </button>
    <button
      (click)="onConfirmClick(userForm)"
      class="glow-on-hover espIz15"
      type="submit"
      tabindex="1"
      *ngIf="!isNuevo && isEditable"
    >
      {{ "button.save" | translate }}
    </button>
  </mat-dialog-actions>
</form>
