<div class="sidebar-wrapper" id="sidebar">
  <div class="row">
    <div class="col-md-12 centrado padding30 backgorundPrincipal">
      <h2 class="colorBlanco">
        <i class="las la-file-invoice colorGris espIz15 espDer5"></i>
        {{ "title.plans" | translate }}
      </h2>
    </div>
  </div>
  <div class="row padding15">
    <div class="col-md-12">
      <mat-horizontal-stepper>
        <!--Step to show current plan and suggested in all plan and in actual category-->
        <mat-step label="{{ 'label.suggested' | translate }}" state="suggested">
          <!--current plan-->
          <div class="col-md-12 centrado colorGris">
            <h5>{{ "title.current_plan" | translate }}</h5>
          </div>
          <div class="row">
            <mat-expansion-panel hideToggle
                                 class="
              gn-box
              paddingTop15
              borderRadius10
              tracking-in-expand
              example-full-width
            "
                                 expanded>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <h4 class="colorPrincipal">
                    <strong>{{ info?.actualPlan?.name }}</strong>
                  </h4>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="col-md-12 centrado">
                <h2 class="colorSecundario">
                  {{ info?.actualPlan?.cost  | currency: utilService.curr :  'symbol-narrow'}}
                </h2>
              </div>
              <div class="col-md-12">
                <!--Actual Plan-->
                <div class="generic_feature_list">
                  <h5>
                    <i class="las la-calendar-alt colorAzul espDer5"></i
                    ><span>{{ info?.actualPlan?.duration_months }}</span>
                    {{ "label.months" | translate }}
                  </h5>
                  <h5 *ngIf="info?.actualPlan?.access_scanner">
                    <i class="las la-check-circle colorVerde"></i>
                    {{ "label.licence.one_shot" | translate }}:
                    <span *ngIf="info?.actualPlan?.limit_credits  > 0">{{info?.actualPlan?.limit_credits }}</span><span
                    *ngIf="info?.actualPlan?.limit_credits  <= 0">0</span>
                  </h5>
                  <h5 *ngIf="info?.actualPlan?.access_monitor">
                    <i class="las la-check-circle colorVerde"></i>
                    {{ "label.licence.monitor" | translate }}:
                    <span
                      *ngIf="info?.actualPlan?.total_monitor_licenses  > 0">{{info?.actualPlan?.total_monitor_licenses }}</span><span
                    *ngIf="info?.actualPlan?.total_monitor_licenses  <= 0">0</span>
                  </h5>
                  <h5 *ngIf="info?.actualPlan?.access_transforma">
                    <i class="las la-check-circle colorVerde"></i>
                    {{ "label.licence.transform" | translate }}:
                    <span
                      *ngIf="info?.actualPlan?.total_transforma_licenses  > 0">{{info?.actualPlan?.total_transforma_licenses }}</span><span
                    *ngIf="info?.actualPlan?.total_transforma_licenses  <= 0">0</span>

                  </h5>
                  <h5 *ngIf="info?.actualPlan?.access_deindexation">
                    <i class="las la-check-circle colorVerde"></i>
                    {{ "label.licence.deindexing" | translate }}:
                    <span
                      *ngIf="info?.actualPlan?.max_url_to_deindexate  > 0">{{info?.actualPlan?.max_url_to_deindexate }}</span><span
                    *ngIf="info?.actualPlan?.max_url_to_deindexate  <= 0">0</span>
                  </h5>
                  <h5>
                    <i class="las la-globe-americas colorSecundario espDer5"></i
                    >{{ "label.plan.countries" | translate }}:
                    <span *ngIf="info?.actualPlan?.max_countries  > 0">{{info?.actualPlan?.max_countries }}</span><span
                    *ngIf="info?.actualPlan?.max_countries  <= 0">0</span>
                  </h5>
                  <h5>
                    <i class="las la-search-plus colorSecundario espDer5"></i
                    >{{ "label.plan.keywords" | translate }}:
                    <span *ngIf="info?.actualPlan?.max_keywords  > 0">{{info?.actualPlan?.max_keywords }}</span><span
                    *ngIf="info?.actualPlan?.max_keywords  <= 0">0</span>
                  </h5>
                  <h5>
                    <i class="las la-file colorSecundario espDer5"></i
                    >{{ "label.plan.pages" | translate }}:
                    <span
                      *ngIf="info?.actualPlan?.max_search_page  > 0">{{info?.actualPlan?.max_search_page }}</span><span
                    *ngIf="info?.actualPlan?.max_search_page  <= 0">0</span>
                  </h5>
                  <h5>
                    <i class="fab fa-google colorSecundario espDer5"></i
                    >{{ "label.sections" | translate }}:
                    {{info?.actualPlan?.sections_to_search }}
                  </h5>
                </div>
              </div>
            </mat-expansion-panel>

          </div>

          <div *ngIf="!info?.programmedToNextPayment">
            <!--suggested-->
            <div class="col-md-12 centrado colorGris">
              <h5>{{ "title.we_suggest" | translate }}</h5>
            </div>
            <div class="col-md-12 centrado">
              <i class="las la-hand-point-down colorSecundario fa-3x"></i>
            </div>

            <!--suggested in all plans-->
            <div class="row paddingTop15" *ngFor="let suggestedPlan of info?.plansCustomized">
              <mat-expansion-panel hideToggle
                                   class="
                  gn-box
                  paddingTop15
                  borderRadius10
                  tracking-in-expand
                  example-full-width
                ">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <h4 class="colorPrincipal ">
                      <strong>{{ suggestedPlan?.name }}</strong>
                    </h4>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="col-md-12 centrado ">
                  <h2 class="colorSecundario">
                    {{
                    suggestedPlan?.cost | currency: utilService.curr :  'symbol-narrow'
                    }}
                  </h2>
                </div>
                <div class="col-md-12">
                  <div class="generic_feature_list">
                    <h5>
                      <i class="las la-calendar-alt colorAzul espDer5"></i
                      ><span>{{ suggestedPlan?.duration_months }}</span>
                      {{ "label.months" | translate }}
                    </h5>
                    <h5 *ngIf="suggestedPlan?.access_scanner">
                      <i class="las la-check-circle colorVerde"></i>
                      {{ "label.licence.one_shot" | translate }}:
                      <span *ngIf="suggestedPlan?.limit_credits > 0">{{suggestedPlan?.limit_credits}}</span><span
                      *ngIf="suggestedPlan?.limit_credits <= 0">0</span>
                    </h5>
                    <h5 *ngIf="suggestedPlan?.access_monitor">
                      <i class="las la-check-circle colorVerde"></i>
                      {{ "label.licence.monitor" | translate }}:
                      <span
                        *ngIf="suggestedPlan?.total_monitor_licenses > 0">{{suggestedPlan?.total_monitor_licenses}}</span><span
                      *ngIf="suggestedPlan?.total_monitor_licenses <= 0">0</span>

                    </h5>
                    <h5 *ngIf="suggestedPlan?.access_transforma">
                      <i class="las la-check-circle colorVerde"></i>
                      {{ "label.licence.transform" | translate }}:
                      <span
                        *ngIf="suggestedPlan?.total_transforma_licenses > 0">{{suggestedPlan?.total_transforma_licenses}}</span><span
                      *ngIf="suggestedPlan?.total_transforma_licenses <= 0">0</span>
                    </h5>
                    <h5 *ngIf="suggestedPlan?.access_deindexation">
                      <i class="las la-check-circle colorVerde"></i>
                      {{ "label.licence.deindexing" | translate }}:
                      <span
                        *ngIf="suggestedPlan?.max_url_to_deindexate > 0">{{suggestedPlan?.max_url_to_deindexate}}</span><span
                      *ngIf="suggestedPlan?.max_url_to_deindexate <= 0">0</span>
                    </h5>

                    <h5>
                      <i
                        class="las la-globe-americas colorSecundario espDer5"
                      ></i
                      >{{ "label.plan.countries" | translate }}:
                      {{ suggestedPlan?.max_countries }}
                    </h5>
                    <h5>
                      <i class="las la-search-plus colorSecundario espDer5"></i
                      >{{ "label.plan.keywords" | translate }}:
                      <span *ngIf="suggestedPlan?.max_keywords > 0">{{suggestedPlan?.max_keywords}}</span><span
                      *ngIf="suggestedPlan?.max_keywords <= 0">0</span>

                    </h5>
                    <h5>
                      <i class="las la-file colorSecundario espDer5"></i
                      >{{ "label.plan.pages" | translate }}:
                      <span *ngIf="suggestedPlan?.max_search_page > 0">{{suggestedPlan?.max_search_page}}</span><span
                      *ngIf="suggestedPlan?.max_search_page <= 0">0</span>
                    </h5>
                    <h5>
                      <i class="fab fa-google colorSecundario espDer5"></i
                      >{{ "label.sections" | translate }}:
                      {{suggestedPlan?.sections_to_search}}
                    </h5>
                  </div>
                </div>
                <div class="col-md-12 centrado">
                  <button
                    class="glow-on-hover"
                    (click)="changePlan(suggestedPlan)"
                  >
                    {{ "button.hire" | translate }}
                  </button>
                </div>
              </mat-expansion-panel>
            </div>

            <!--if there is not suggest-->

            <div class="row centrado paddingTop15" *ngIf="info?.plansCustomized.length === 0">
              <mat-expansion-panel hideToggle
                                   class="
                  gn-box
                  paddingTop15
                  borderRadius10
                  tracking-in-expand
                  example-full-width
                "
                                   expanded
              >
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <h4 class="colorPrincipal">
                      <strong>{{ "title.plan_three" | translate }}</strong>
                    </h4>
                  </mat-panel-title>
                </mat-expansion-panel-header>

                <div class="col-md-12">
                  <h5>{{ "label.custom" | translate }}</h5>
                </div>
                <div class="col-md-12 centrado">
                  <button class="glow-on-hover" (click)="customPlan()">
                    {{ "button.ask_for" | translate }}
                  </button>
                </div>
              </mat-expansion-panel>
            </div>
          </div>
          <div *ngIf="info?.programmedToNextPayment">
            <h3 class="colorSecundario centrado">{{'error.programmed_next_payment' | translate}}</h3>
          </div>
        </mat-step>

        <!--all plans -->
        <mat-step label="{{ 'label.all' | translate }}" state="all" *ngIf="!info?.programmedToNextPayment">
          <div *ngFor="let detailPlan of info?.plansAvailables">
            <div *ngIf="!detailPlan.customized">
              <div class="row paddingTop15">
                <mat-expansion-panel
                  hideToggle
                  class="
                    gn-box
                    paddingTop15
                    borderRadius10
                    tracking-in-expand
                    example-full-width
                  "
                  expanded
                >
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <h4 class="colorPrincipal">
                        <strong>{{ detailPlan.name }}</strong>
                      </h4>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="col-md-12 centrado">
                    <h2 class="colorSecundario">
                      {{ detailPlan?.cost
                      | currency: utilService.curr :  'symbol-narrow'}}
                    </h2>
                  </div>
                  <div class="col-md-12">

                    <div class="generic_feature_list">
                      <h5>
                        <i class="las la-calendar-alt colorAzul espDer5"></i
                        ><span>{{ detailPlan?.duration_months }}</span>
                        {{ "label.months" | translate }}
                      </h5>
                      <h5 *ngIf="detailPlan?.access_scanner">
                        <i class="las la-check-circle colorVerde"></i>
                        {{ "label.licence.one_shot" | translate }}:
                        <span *ngIf="detailPlan?.limit_credits > 0">{{detailPlan?.limit_credits}}</span><span
                        *ngIf="detailPlan?.limit_credits <= 0">0</span>
                      </h5>
                      <h5 *ngIf="detailPlan?.access_monitor">
                        <i class="las la-check-circle colorVerde"></i>
                        {{ "label.licence.monitor" | translate }}:
                        <span
                          *ngIf="detailPlan?.total_monitor_licenses > 0">{{detailPlan?.total_monitor_licenses}}</span><span
                        *ngIf="detailPlan?.total_monitor_licenses <= 0">0</span>
                      </h5>
                      <h5 *ngIf="detailPlan?.access_transforma">
                        <i class="las la-check-circle colorVerde"></i>
                        {{ "label.licence.transform" | translate }}:
                        <span
                          *ngIf="detailPlan?.total_transforma_licenses > 0">{{detailPlan?.total_transforma_licenses}}</span><span
                        *ngIf="detailPlan?.total_transforma_licenses <= 0">0</span>
                      </h5>
                      <h5 *ngIf="detailPlan?.access_deindexation">
                        <i class="las la-check-circle colorVerde"></i>
                        {{ "label.licence.deindexing" | translate }}:
                        <span *ngIf="detailPlan?.max_url_to_deindexate > 0">{{detailPlan?.max_url_to_deindexate}}</span><span
                        *ngIf="detailPlan?.max_url_to_deindexate <= 0">0</span>
                      </h5>
                      <h5>
                        <i
                          class="las la-globe-americas colorSecundario espDer5"
                        ></i
                        >{{ "label.plan.countries" | translate }}:
                        <span *ngIf="detailPlan?.max_countries > 0">{{detailPlan?.max_countries}}</span><span
                        *ngIf="detailPlan?.max_countries <= 0">0</span>

                      </h5>
                      <h5>
                        <i
                          class="las la-search-plus colorSecundario espDer5"
                        ></i
                        >{{ "label.plan.keywords" | translate }}:
                        <span *ngIf="detailPlan?.max_keywords > 0">{{detailPlan?.max_keywords}}</span><span
                        *ngIf="detailPlan?.max_keywords <= 0">0</span>
                      </h5>
                      <h5>
                        <i class="las la-file colorSecundario espDer5"></i
                        >{{ "label.plan.pages" | translate }}:
                        <span *ngIf="detailPlan?.max_search_page > 0">{{detailPlan?.max_search_page}}</span><span
                        *ngIf="detailPlan?.max_search_page <= 0">0</span>
                      </h5>
                      <h5>
                        <i class="fab fa-google colorSecundario espDer5"></i
                        >{{ "label.sections" | translate }}:
                        {{detailPlan?.sections_to_search}}

                      </h5>
                    </div>
                  </div>
                  <div class="col-md-12 centrado">
                    <button
                      class="glow-on-hover"
                      (click)="changePlan(detailPlan)"
                    >
                      {{ "button.hire" | translate }}
                    </button>
                  </div>
                </mat-expansion-panel>
              </div>
            </div>
          </div>
          <div class="row paddingTop15">
            <mat-expansion-panel
              hideToggle
              class="
                gn-box
                paddingTop15
                borderRadius10
                tracking-in-expand
                example-full-width
              "
            >
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <h4 class="colorPrincipal">
                    <strong>{{ "title.plan_three" | translate }}</strong>
                  </h4>
                </mat-panel-title>
              </mat-expansion-panel-header>

              <div class="col-md-12">
                <h5>{{ "label.custom" | translate }}</h5>
              </div>

              <div class="col-md-12 centrado">
                <button class="glow-on-hover" (click)="customPlan()">
                  {{ "button.ask_for" | translate }}
                </button>
              </div>
            </mat-expansion-panel>
          </div>
        </mat-step>

        <!-- Icon overrides. -->
        <ng-template matStepperIcon="suggested">
          <i class="las la-smile-wink colorGris"></i>
        </ng-template>
        <ng-template matStepperIcon="all">
          <i class="las la-file-invoice colorGris"></i>
        </ng-template>
      </mat-horizontal-stepper>
    </div>
  </div>

  <div class="row centrado paddingBottom40">
    <a (click)="closeSidebar()" class="third after colorGris">
      {{ "button.cancel" | translate }}</a
    >
  </div>
</div>
