<div class="row paddingTop15">
  <div class="row content-card minheight500 centrado">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-10">
          <div class="row">
            <div class="col-md-3 col-sm-6">
              <img src="../../assets/img/logo.png" alt="Remove Group" class="logoInicial"/>
            </div>
          </div>
        </div>
        <div class="col-md-2 top20m">
          <div class="row">
            <div class="col-md-4 col-sm-6">
              <mat-form-field class="ng-autocomplete">
                <mat-label><i class="las la-language fa-2x"></i></mat-label>
                <mat-select
                  [(ngModel)]="language"
                  (selectionChange)="changeLanguage()"
                >
                  <mat-option
                    *ngFor="let l of translateHelper.languages"
                    [value]="l"
                  >
                    {{ "lang." + l | translate }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="row padding20">
        <div class="col-md-12">
          <i class="las la-hourglass-half la-5x colorPrincipal padding15"></i>

          <h1 class="colorPrincipal">
            {{ "label.waiting_transfer" | translate }}
          </h1>
        </div>
      </div>
      <div class="row centrado paddingTop15">
        <div class="col-md-12">
          <h3 class="colorSecundario">
            {{ "label.transfer_payment" | translate }}
          </h3>
        </div>
      </div>
      <div class="row centrado">
        <div class="col-md-12">
          <p>
            <strong>{{ "label.name" | translate }}:</strong> {{ transfer.owner
            }}<br />
            <strong>{{ "label.bank" | translate }}:</strong> {{ transfer.bank
            }}<br />
            <strong>{{ "label.account_number" | translate }}:</strong>
            {{ transfer.account }}<br />
            <strong>{{ "label.account_type" | translate }}:</strong>
            {{ transfer.type }}<br />
            <strong>{{ "label.email" | translate }}:</strong>
            {{ transfer.email }}
          </p>
          <br />
        </div>
      </div>
      <hr />
      <div class="row centrado padding20">
        <a routerLink="/client/login">{{ "message.go_login" | translate }}</a>
      </div>
    </div>
  </div>
</div>

<!--<div class="area">
  <ul class="circles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>-->
