
<div class="row paddingTop15 centrado">
  <div class="col-md-12">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image "></div>
        <mat-card-title>{{'title.error404' | translate}}</mat-card-title>

      </mat-card-header>

      <mat-card-content>
        <div class="row centrado  margin8020"></div>
        <div class="row centrado  margin8020">
          <i class="las la-question-circle fa-spin fa-5x colorPrincipal"></i> <h1 class="colorSecundario superfont">  404</h1>
        </div>
          <div class="row  centrado margin8020">
          <strong>{{'message.error.404.page' | translate}}</strong>
        </div>
        <div class="row centrado  margin8020"></div>
        <div class="row centrado  margin8020"></div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>   <a (click)="back()" class="glow-on-hover"><i class="fa fa-backward"></i>
          {{'button.back' | translate}}</a></button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>



